<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cb3e9be334.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <!--header-->
    <header>
      <img src="./img/Capture.PNG" height="75">
      <div class="navbar">
          <a href="index.html">Home</a>
          <div class="dropdown">
            <button class="dropbtn">Services
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="services.page.html">Rental Services</a>
              <a href="services.page.html"> Catering Services</a>
              <a href="services.page.html">Event Planning</a>
            </div>
          </div>
          <a href="contact.page.html">Contact</a>
        </div>
    </header>
    <!--end header-->

    <!-- Container -->
    <div class="Container">
        <div class="Container-text">
          <p>
           At Megaevent, we are committed to and passionate about providing you with an amazing 
           experience from planning to execution. Our team of experts will ensure that your vision 
           becomes a reality. For more information or to inquire about receiving a quote for your event, 
           please use the form below.
          </p>
        </div>
    </div>
    <!-- End Container -->

    <!-- Title Box -->
    <div class="Title-box">
        <h2> 
          Contact Us
        </h2>
    </div>
    <!-- End Title Box -->
    <br>
    
    <div class="Container">
        <span>
            <div class="Container-text">
                <a>
                    Please Email Or Call Us to take your order!!!...
                </a>

                <p>
                    Your event needs to be perfect, you can count on Megaevent for your party and event rental in Nigeria.
                    We look forward to the opportunity to make your event special.
                </p>

                <br>
                <br>
                <p>
                    <strong><i class="far fa-envelope"></i> Email</strong> | megaevent@gmail.com
                </p>

                <p>
                    <strong><i class="fas fa-phone-alt"></i> Phone</strong> | <a href="tel:+2347089899292"> 0708-989-9292</a>
                </p>

                <p>
                    <strong><i class="fa fa-map-marker"></i> Address</strong> |  Zone 1 block B9, flat 1 Games Village Estate, Abuja Nigeria
                </p>
                
                <p>
                    <strong>Stay Connected</strong> | 

                        <a href=""><i class="fab fa-facebook"></i></a>
                    
                        <a href="https://wa.me/+2347089899292"><i class="fab fa-whatsapp"></i></a>
                        
                        <a href=""><i class="fab fa-twitter"></i></a>
                        
                        <a href=""><i class="fab fa-instagram"></i></a>
                </p>
            </div>
        </span>
    </div>
    <br>
    <!--footer-->
    <footer>
        <div class="Grid">
          <div>
              <span>
                <br>
                <i class="fas fa-phone-alt"></i>
                Call Us <a href="tel:+2347089899292">0708-989-9292</a>
              </span>
              <br>
  
              <span>
                Or <i class="far fa-envelope"></i>
                Email Us At! <a>megaevent@gmail.com</a>
              </span>
          </div>
  
          <div>
            <div>
              <span>
                Stay Connected
              </span>
            </div>
  
            <div>
              <a href=""><i class="fab fa-facebook"></i></a>
          
              <a href="https://wa.me/+2347089899292"><i class="fab fa-whatsapp"></i></a>
              
              <a href=""><i class="fab fa-twitter"></i></a>
              
              <a href=""><i class="fab fa-instagram"></i></a>
              </div>
          </div>
  
          <div>
            <div class="nav">
                <li><a href="terms&condition.page.html">Terms & Conditions</a></li>
                <li><a href="terms&condition.page.html">Privacy</a></li>
                <li><a href="terms&condition.page.html">Policy</a></li>
                <li><a href="terms&condition.page.html">About</a></li>
            </div>
          </div>
  
        </div>
  
        <div class="Copywrite-text">
  
          <div>
            <br>
            <a href="#top">Back to top</a>
          </div>
  
          <div>
            <p> Copywrite &copy; 2021 Megaevent</p>
          </div>
          
        </div>
      </footer>
      <!--end footer-->
  </body>
      <script src="./js/main.js" ></script>
</html>