<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cb3e9be334.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <!--header-->
    <header>
            <img src="./img/Capture.PNG" height="75">
            <div class="navbar">
                <a href="index.html">Home</a>
                <div class="dropdown">
                  <button class="dropbtn">Services
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="services.page.html">Rental Services</a>
                    <a href="services.page.html"> Catering Services</a>
                    <a href="services.page.html">Event Planning</a>
                  </div>
                </div>
                <a href="contact.page.html">Contact</a>
              </div>
    </header>
    <!--end header-->
  
      <!-- Container -->
      <div class="Container">
        <div class="Container-text">
          <p>
            Mega Event designs world-class weddings and parties from multi-day destination celebrations
            to more intimate occasions in some of Abuja's most impressive locations and private homes.
          </p>
  
          <p>
            Creativity, passion and flair, coupled with a keen eye for detail and bespoke touches, sees
            her curate personal and unforgettable experiences which are enjoyed by an ever-expanding 
            global portfolio of prestigious and discerning clients.
          </p>
        </div>
      </div>
      <!-- End Container -->
  
      <!-- Title Box -->
      <div class="Title-box">
        <h2> 
          Rental Services
        </h2>
      </div>
      <!-- End Title Box -->
  
      <div class="Grid-container">
        <div>
          <a href="contact.page.html">
            <img src="./img/NUTE0161.JPG" alt="image of Pole Tent" height="150" width="180">
          </a>
          <p>
            Pole Tent
          </p>
          <button>
            <a href="contact.page.html">Order</a>
          </button>
        </div>

        <div>
          <a href="contact.page.html">
            <img src="./img/QLJT1937.JPG" alt="image of Rope & Pole Tent" height="150" width="180">
          </a>
          <p>
            Rope & Pole Tent
          </p>
          <button>
            <a href="contact.page.html">Order</a>
          </button>
        </div>

        <div>
          <a href="contact.page.html">
            <img src="./img/GAMO3584.JPG" alt=" image of Frame Tent" height="150" width="180">
          </a>
          <p>
            Frame Tent
          </p>
          <button>
            <a href="contact.page.html">Order</a>
          </button>
        </div>

        <div>
          <a href="contact.page.html">
            <img src="./img/White Padded Chiavari.jpg" alt=" image of Stacking Chairs " height="150" width="180">
          </a>
          <p>
            Stacking Chairs
          </p>
          <button>
            <a href="contact.page.html">Order</a>
          </button>
        </div>
        
        <div>
          <a href="contact.page.html">
            <img src="./img/Red Banquet stacking.webp" alt=" image of Banquet Chairs" height="150" width="180">
          </a>
          <p>
            Banquet Chairs
          </p>
          <button>
            <a href="contact.page.html">Order</a>
          </button>
        </div>
  
        <div>
          <a href="Mega.Event.Services.html">
            <img src="./img/MIVK2878.JPG" alt="image of Specialty Chairs" height="150" width="180">
          </a>
          <p>
            Specialty Chairs
          </p>
          <button>
            <a href="contact.page.html">Order</a>
          </button>
        </div>
  
      </div>

            <!-- Container -->
            <div class="Container">
              <div class="Container-text">
                <p>
                  When it comes to decorating, our capabilities are almost endless.
                  We curate designs that complement and add holiday flair to any commercial space. Always keeping in mind both the hottest trends in seasonal decor and the existing finishes of a property, we fabricate brand-specific, custom solutions to fit your unique needs and budget. We also carry a large inventory of classic wreaths, trees, garlands, swags and ornaments for those with a more traditional vision.
                </p>
              </div>
            </div>
            <!-- End Container -->
        
            <!-- Title Box -->
            <div class="Title-box">
              <h2> 
                Event Decoration
              </h2>
            </div>
            <!-- End Title Box -->
        
            <div class="Grid-container">
              <div>
                <a href="contact.page.html">
                  <img src="./img/IMG_E9046.JPG" alt="logo of Event Decoration" height="150" width="180">
                </a>
                <p>
                  Outdoor Decoration
                </p>
                <button>
                  <a href="contact.page.html">Order</a>
                </button>
              </div>
      
              <div>
                <a href="contact.page.html">
                  <img src="./img/MEG4462.JPG" alt="logo of Event Decoration" height="150" width="180">
                </a>
                <p>
                  Indoor Decoration
                </p>
                <button>
                  <a href="contact.page.html">Order</a>
                </button>
              </div>
      
              <div>
                <a href="contact.page.html">
                  <img src="./img/ANIH9147.JPG" alt="logo of Event Decoration" height="150" width="180">
                </a>
                <p>
                  Party Decoration
                </p>
                <button>
                  <a href="contact.page.html">Order</a>
                </button>
              </div>
      
              <div>
                <a href="contact.page.html">
                  <img src="./img/GWTB8532.JPG" alt="logo of Event Decoration" height="150" width="180">
                </a>
                <p>
                  Holiday Decoration
                </p>
                <button>
                  <a href="contact.page.html">Order</a>
                </button>
              </div>
              
              <div>
                <a href="contact.page.html">
                  <img src="./img/MEW4462.JPG" alt="logo of Event Decoration" height="150" width="180">
                </a>
                <p>
                  Wedding Decoration
                </p>
                <button>
                  <a href="contact.page.html">Order</a>
                </button>
              </div>
        
              <div>
                <a href="Mega.Event.Services.html">
                  <img src="./img/AGKG4765.JPG" alt="logo of Event Decoration" height="150" width="180">
                </a>
                <p>
                  Balls & Galas
                </p>
                <button>
                  <a href="contact.page.html">Order</a>
                </button>
              </div>
        
            </div>

                  <!-- Container -->
      <div class="Container">
        <div class="Container-text">
          <p>
            A large part of planning an event revolves around the food you intend on having for your attendees. The process of figuring out how many people you have to prepare food for and deciding what foods to serve is difficult enough, but then having to prepare and serve the food can make things even more stressful. This is what makes us so important to events.
          </p>
        </div>
      </div>
      <!-- End Container -->
  
      <!-- Title Box -->
      <div class="Title-box">
        <h2> 
          Catering Services
        </h2>
      </div>
      <!-- End Title Box -->
  
      <div class="Grid-container">
        <div>
          <a href="contact.page.html">
            <img src="./img/BMBJ3198.JPG" alt="logo of Event Decoration" height="150" width="180">
          </a>
          <p>
            Rice & Stew
          </p>
          <button>
            <a href="contact.page.html">Order</a>
          </button>
        </div>

        <div>
          <a href="contact.page.html">
            <img src="./img/HYFK5339.JPG" alt="logo of Event Decoration" height="150" width="180">
          </a>
          <p>
              Finger Food & Snacks
          </p>
          <button>
            <a href="contact.page.html">Order</a>
          </button>
        </div>

        <div>
          <a href="contact.page.html">
            <img src="./img/OSYR8297.JPG" alt="logo of Event Decoration" height="150" width="180">
          </a>
          <p>
            Jollof Rice
          </p>
          <button>
            <a href="contact.page.html">Order</a>
          </button>
        </div>

        <div>
          <a href="contact.page.html">
            <img src="./img/OEHE9955.JPG" alt="logo of Event Decoration" height="150" width="180">
          </a>
          <p>
            Fried Rice
          </p>
          <button>
            <a href="contact.page.html">Order</a>
          </button>
        </div>
        
        <div>
          <a href="contact.page.html">
            <img src="./img/MGJC4866.JPG" alt="logo of Event Decoration" height="150" width="180">
          </a>
          <p>
            Fruit & Vegetable Salad
          </p>
          <button>
            <a href="contact.page.html">Order</a>
          </button>
        </div>
  
        <div>
          <a href="Mega.Event.Services.html">
            <img src="./img/CVSI3106.JPG" alt="logo of Event Decoration" height="150" width="180">
          </a>
          <p>
            Soup & Swallow
          </p>
          <button>
            <a href="contact.page.html">Order</a>
          </button>
        </div>
  
      </div>
  
      <!--footer-->
      <footer>
        <div class="Grid">
          <div>
              <span>
                <br>
                <i class="fas fa-phone-alt"></i>
                Call Us <a href="tel:+2347089899292">0708-989-9292</a>
              </span>
              <br>
  
              <span>
                Or <i class="far fa-envelope"></i>
                Email Us At! <a>megaevent@gmail.com</a>
              </span>
          </div>
  
          <div>
            <div>
              <span>
                Stay Connected
              </span>
            </div>
  
            <div>
              <a href=""><i class="fab fa-facebook"></i></a>
          
              <a href="https://wa.me/+2347089899292"><i class="fab fa-whatsapp"></i></a>
              
              <a href="https://instagram.com/mega_food_hub?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
              </div>
          </div>
  
          <div>
            <div class="nav">
                <li><a href="terms&condition.page.html">Terms & Conditions</a></li>
                <li><a href="privacy-policy.html">Privacy</a></li>
                <li><a href="privacy-policy.html">Policy</a></li>
                <li><a href="terms&condition.page.html">About</a></li>
            </div>
          </div>
  
        </div>
  
        <div class="Copywrite-text">
  
          <div>
            <br>
            <a href="#top">Back to top</a>
          </div>
  
          <div>
            <p> Copywrite &copy; 2021 Megaevent</p>
          </div>
          
        </div>
      </footer>
      <!--end footer-->
  </body>
    <script src="./js/main.js" ></script>
</html>